@page "/Articles/Manage"

@using ArticleApp.Models
@using ArticleApp.Models.Articles;

@using Dul.Domain.Common;
@using Dul.Web
@using ArticleApp.Articles.Components

@inject IArticleRepository ArticleRepository

@inject IJSRuntime JSRuntime

<h3>Manage</h3>

<div>
    <a href="/Articles/Create" class="btn btn-primary">Create</a>
</div>

@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>CREATED</th>
                <th>&nbsp;</th>
                <th>IsPinned</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in articles)
            {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Title</td>
                    <td>@article.Created.ToShortTimeString()</td>
                    <td>
                        <a href="/Articles/Details/@article.Id" class="btn btn-light">Details</a>
                        <a href="/Articles/Edit/@article.Id" class="btn btn-light">Edit</a>
                        <a href="/Articles/Delete/@article.Id" class="btn btn-light">Delete</a>
                    </td>
                    <td>@(article.IsPinned ? "공지" : "")</td>
                    <td>
                        <input type="button" value="공지글로 올리기" class="btn btn-light" @onclick="@(()=> PinnedBy(article))" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<ArticlePager Model="pager" PageIndexChanged="PageIndexChanged"></ArticlePager>

@if (isShow)
{
    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">공지글로 올리기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnClose_Click">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@(_article.Id)번 글을 공지글로 설정하겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="btnTogglePinned_Click">설정</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="btnClose_Click">취소</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<Article> articles;

    /* Notice Modal */

    /// <summary>
    /// 선택된 Article 객체 담을 클래스 변수
    /// </summary>
    private Article _article = new Article(); // 선택된 항목 관리

    /// <summary>
    /// 모달 띄움 여부
    /// </summary>
    private bool isShow = false;

    private void PinnedBy(Article article)
    {
        _article = article;
        isShow = true; // 창 보이기
        
        //JSRuntime.InvokeAsync<object>("alert", $"{article.Id}를 공지글로 설정합니다");
    }

    /// <summary>
    /// 모달버튼 종료 버튼 이벤트
    /// </summary>
    private void btnClose_Click()
    {
        isShow = false; // 창 닫기
        _article = new Article(); // 선택했던 모델 초기화
    }

    /// <summary>
    /// 설정 토글 버튼
    /// </summary>
    private async Task btnTogglePinned_Click()
    {
        _article.IsPinned = !_article.IsPinned; // Toggle
        await ArticleRepository.EditArticleAsync(_article);
        isShow = false; // 창 닫기

        // 다시한번 처리해서 보여주기
        PagingResult<Article> pagingData = await ArticleRepository.GetAllAsync(pager.PageIndex, pager.PageSize);
        pager.RecordCount = pagingData.TotalRecords; // 총 레코드 수
        articles = pagingData.Records.ToList(); // 페이징 처리된 레코드

        StateHasChanged(); // Refresh
    }
    
    /* Notice Modal */

    // 페이지 기본값 설정 - Dul
    private PagerBase pager = new PagerBase()
    {
        PageNumber = 1,
        PageIndex = 0, // PageNumber -1
        PageSize = 2,
        PagerButtonCount = 3
    };

    protected override async Task OnInitializedAsync()
    {
        // [1] 전체 데이터 모두 출력
        //articles = await ArticleRepository.GetArticlesAsync();

        // [2] 페이징 처리된 데이터만 출력
        PagingResult<Article> pagingData = await ArticleRepository.GetAllAsync(pager.PageIndex, pager.PageSize);
        pager.RecordCount = pagingData.TotalRecords; // 총 레코드 수
        articles = pagingData.Records.ToList(); // 페이징 처리된 레코드

    }

    // Pager 버튼 클릭 콜백 메서드
    private async void PageIndexChanged(int pageIndex)
    {
        pager.PageIndex = pageIndex;
        pager.PageNumber = pageIndex + 1;

        var pagingData = await ArticleRepository.GetAllAsync(pager.PageIndex, pager.PageSize);
        pager.RecordCount = pagingData.TotalRecords; // 총 레코드 수
        articles = pagingData.Records.ToList(); // 페이징 처리된 레코드

        StateHasChanged(); // 현재 컴포넌트 재로드
    }

}
